* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20%;
    border-style: none;
}

#rock {
    background-color: rgb(252, 112, 112);
    color: white;
}

#paper {
    background-color: rgb(90, 90, 241);
    color: white;
}

#scissors {
    background-color: rgb(58, 153, 58);
    color: white;
}