*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p{
    color: aquamarine;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    color: aquamarine;
}
/*https://youtu.be/47WMoAfwfkU*/
.grid-container > div {
    padding: 10px;
    background-color: rgb(187, 129, 241);
}
.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    /*justify-content: space-around;*/

}
.grid-item1 {
    background-color: chartreuse;
    text-align: center;
    border: 1px solid;
    /*grid-column: 1 / span 3;*/
}
body{
    background-color: rgb(43, 13, 1);
}
header{
    color: aquamarine;
}
footer{
    color: aquamarine;
}