*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}
