
h1{
    font-family: fantasy;
    color: plum;
    font-size: 3em;
}

p{
    padding: 2px;
    font-family: fantasy;
    color:rgb(251, 188, 251);

}

a{
    text-decoration: plum;
    font-family: fantasy;
    padding: 2px;
    margin: 2em;

}

footer{
    font-family: fantasy;

}

body{
    font-family: fantasy;
    background-color: rgb(4, 119, 176);
}