h1{
    font-family: fantasy;
    color: plum;
}

p{
    font-family: fantasy;
    color:rgb(251, 188, 251)

}

a{
    font-family: fantasy;

}

footer{
    font-family: fantasy;

}

body{
    font-family: fantasy;
    background-color: rgb(4, 119, 176);
}